/**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;

}

header {
    background-color: black;
    color: yellow;
    grid-area: header;
}

header h1 {
    color: yellow;
    font-size: 45px;
    font-style: italic;
    font-weight: 200;
}

header nav ul li {
    display: inline-block;
    transition: 5s;
    padding: 0.5px;
    transition: 0.5s;

}

header nav ul li:hover{
    background-color: yellow;
}

.acercade{
    background-color: gray;

}

.verproductos{
    background-color: grey;
}
.grid-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 150px;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer"
}

.nuestrasMarcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nuestrasMarcas img {
    width: 60px;
    height: 60px;
}

.nuestras h2 {
    text-align: center;

}

.Contacto h2 {
    text-align: center;
    margin-bottom: 4px;
}



.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.productos img {
    width: 250px;
    height: 250px;
    border-radius: 20px 20px;
    flex-wrap: wrap;

}

.productos div{
    transition: 2s;
}

.productos div:hover{
    transform: scale(1.1);
}

.productos div a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
}

.tituloproducto {
    text-align: center;
    margin-top: 10px;
}

.cartaProductos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: 70px;
    border: 1px solid black;
    height: 380px;
    border-radius: 20px;
    box-shadow: 10px 7px 41px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 7px 41px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 7px 41px 3px rgba(0, 0, 0, 0.75);

}

.cartaProductos a{
    margin: 2px 90px 2px 90px;
}

.cartaProductos a:hover{
    color: yellow;
}



/*.hero {
    background-image: url(../img/pexels-cottonbro-6110079.jpg);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}*/

.hero h2 {
    color: yellow;
    text-decoration: underline;
    background-color: grey;
}



.hero div p {
    color: yellowgreen;

}

.hero div a {
    background-color: black;
    color: yellow;
}

.hero {
    text-align: center;
}


.galeria div img {
    width: 400px;
    height: 400px;
    margin: 80px;
}

.Form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5px;

}

.acercade div h1 {
    color: yellow;
    text-decoration: underline;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
}

.acercade {
    display: flex;
    justify-content: space-evenly;

}

.acercade div {
    width: 50%;
}

.acercade img {
    width: 300px;
    height: 300px;
    margin-top: 30px;
}

main{
    grid-area: main;
}


.servicios img {
    width: 100%;
}

.servicios h3 {
    padding: 15px;
}





#Piedepagin{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
}

footer img {
    width: 50px;
    height: 50px;
    padding: 3px;
    display: flex;
    
    
}

footer{
    display: flex;
    justify-content: end;
    flex-direction: column-reverse;
    
    
}

@media screen and (max-width:1139px) {
    .acercade {
        flex-direction: column;

        align-items: center;
    }

}


@media screen and (max-width:429px) {
    header nav ul {
        flex-direction: column;
        align-items: flex-end;
        text-align: center;
        align-content: center;
    }
}